* {
  padding: 0;
  margin: 0;
}

.user-list{
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  background-color: gray;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 8vh;
  height: fit-content;
  padding: 10px 0;
}
.user-list-content{
  width: 25%;
  height: 18vh;
  padding: 10px;
  margin: 10px 0;
  background-color: #333;
  border-radius: 6px;
  transition: ease-in-out .3s;
}
.user-list-content:hover{
  transform: scale(1.1);
  box-shadow: 1px 0px 13px whitesmoke;
}
.user-list-content p{
  margin-top: 3px;
  color: whitesmoke;
}
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8vh;
  background-color: gold;
  font-size:2rem;
  font-weight: 800;
  box-shadow: 1px 0 10px dimgray;
  z-index: 10;
  position: fixed;
}